body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f8fb;
}

.login-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.form{
width:400px;
padding:40px;
background:#e7f4fb;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.title{
text-align:center;
color:#001b3d;
margin-bottom:30px;
}

.input-box{
width:100%;
padding:12px;
margin-top:5px;
margin-bottom:20px;
border-radius:25px;
border:1px solid #ddd;
}

.options{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:20px;
}

.login-btn{
width:100%;
padding:12px;
background:#001b3d;
color:white;
border:none;
border-radius:25px;
font-size:16px;
cursor:pointer;
}

.login-btn:hover{
background:#003a7a;
}

.register{
text-align:center;
margin-top:20px;
}